.header {
    position: fixed;
    width: 100%;
    background: var(--body-color);
    top: 0;
    left: 0;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__menu {
            @media screen and (max-width:767px) {
                position: fixed;
                top: 4rem;
                left: 0;
                right: 0;
                background: var(--container-color);
                box-shadow: 0 0 4px rgba(0, 0, 0, .1);
                width: 90%;
                margin: 0 auto;
                border-radius: 2rem;
                padding: 2.5rem 0;
            }
        }
    
        &__list {
            text-align: center;
            display: flex;
            flex-direction: column;
            row-gap: 1.5rem;
            align-items: center;
        }
    }

  
}
