@media screen and (min-width: 576px) {
    .svg__img {
        width: 100%;
    }

.home {
    padding-top: 7rem;
}

    .home__container,
    .about__container,
    .support__container,
    .services__container,
    .contact__container{
        
        grid-template-columns: repeat(2,1fr);
        align-items: center;

    }

    .footer__container {
        grid-template-columns: repeat(2,1fr);
    }
    .home__img {
        order: 1;
    }

    .about__img {
        order: -1;
    }

    .app__title {
        // text-align: right;
    }
    .section__title-center {
        text-align: right;
    }

    // .app__info {
    //  grid-template-columns: repeat(1,max-content);
    // }

    .about__info,.support__info,.contact__description {
     text-align: right;
    }

    .services__container{
        grid-template-columns: repeat(1,1fr);
    }
  }

@media screen and (min-width: 767px) {
  .nav {
    .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
    }

    &__toggle {
        display: none;
    }
  }

.change-theme {
    position: unset;
}

  .app__container {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .services__container{
    grid-template-columns: repeat(3,1fr);
}
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px) {
.container {
    width: 95vw;
}

.svg__img {
    width: 500px;
}

    .button__header {
     display: block;
     padding: .3rem 1.5rem;
    }

    .home__container,
    .about__container,
    .support__container,
    .app__container {
        
     column-gap: 6rem;
    }

    .services__container{
        grid-template-columns: repeat(3,1fr);
    }

    .contact__container {
        grid-template-columns: 3fr 1.5fr 1.25fr;
    }

    .footer__container {
        grid-template-columns: repeat(5,1fr);
    }

    .footer__social-link{
font-size: 1.4rem;
    }
  }