@media screen and (min-width: 767px) {
  .nav {
    .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
    }

    &__toggle {
        display: none;
    }
  }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px) {
.container {
    width: 95vw;
}

    .button__header {
     display: block;
     padding: .4rem 1.5rem;
    }
  }