@media screen and (min-width: 576px) {
    .svg__img {
        width: 100%;
    }

.home {
    padding-top: 7rem;
}

    .home__container,
    .about__container,
    .support__container {
        
        grid-template-columns: repeat(2,1fr);
        align-items: center;

    }
    .home__img {
        order: 1;
    }

    .about__img {
        order: -1;
    }

    .about__info,.support__info {
     text-align: right;
    }
  }

@media screen and (min-width: 767px) {
  .nav {
    .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
    }

    &__toggle {
        display: none;
    }
  }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px) {
.container {
    width: 95vw;
}

.svg__img {
    width: 500px;
}

    .button__header {
     display: block;
     padding: .3rem 1.5rem;
    }
  }